<section class="mb-2" id="">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-bold-700">Enquiry</h1>
                    <p>We are happy to provide info and assist you</p>
                    <form id="contactForm" class="contact mt-2" action="<%base_url%>/send-enquiry" method="POST" autocomplete="off">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name" name="name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email" name="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea rows="5" cols="5" class="form-control" placeholder="Message" name="message" required></textarea>
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-dark">Submit Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-0 pr-md-1">
                <div class="card-body">
                    <h1 class="text-bold-700 mb-2">You are welcome to contact us</h1>
                    <div class="address">
                        <p class="text-bold-600"><i class="fa text-sea-green fa-envelope-o fa-lg"></i>&nbsp; Email</p>
                        <p><span class="pr-2"></span>&nbsp; Use the Enquiry form</p>
                        <p class="text-bold-600"><i class="fa text-sea-green fa-phone fa-lg"></i>&nbsp; Call us</p>
                        <p><span class="pr-2"></span>&nbsp;+11 123 4567</p>
                        <p class="text-bold-600"><i class="fa text-sea-green fa-map-o fa-lg"></i>&nbsp; Postal Address</p>
                        <p><span class="pr-2"></span>&nbsp; A-1, Abc, 365244.</p>
                        <p><span class="pr-2"></span>&nbsp; </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="address-map">
    <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.8347417378013!2d72.49898581480025!3d22.993103684967988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e853bcafdcb7d%3A0xb66fd539818e9030!2sImpero%20IT%20Services%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1618298759798!5m2!1sen!2sin" width="100%" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</section>