
<div class="content-page">
  <div class="content">
    <div class="container-fluid">
      <div class="row page-title">
        <div class="col-md-12">
          
          <h4 class="mb-1 mt-0">THANKS FOR SHOPPING WITH US</h4>
        </div>
      </div>

      <div class="main-content">
        <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
        <p class="main-content__body" data-lead-id="main-content-body">Thanks a bunch for filling that out. <br>It means a lot to us, just like you do! We really appreciate you giving us a moment of your time today.<br> Thanks for being you.</p>
      </div>
    </div>
  </div>
</div>
<div class="footer-script">
  <script type="text/javascript">
    var add_url = "<%-user_url%>/addtocart";
  </script>

  <script
    defer
    src="<%-assets_url%>assets/js/validation/validate.min.js"
    type="text/javascript"
  ></script>
  <script
    defer
    src="<%-assets_url%>assets/vendors/js/extensions/sweetalert.min.js"
    type="text/javascript"
  ></script>
  <script
    defer
    src="<%-assets_url%>assets/js/pages/admin/product.js"
    type="text/javascript"
  ></script>
</div>
