<div class="content-page">
  <div class="content">
    <div class="container-fluid">
      <div class="row page-title align-items-center">
        <div class="col-sm-4 col-xl-6">
          <h4 class="mb-1 mt-0">Dashboard</h4>
        </div>
      </div>

      <!-- content -->
      <div class="row">
        <div class="col-md-6 col-xl-4">
          <a href="<%-user_url%>/product">
          <div class="card bg-card1">
            <div class="card-body p-0">
              <div class="media p-3">
                <div class="media-body">
                  <h5 class="mb-1 text-black">20</h5>
                  <span class="text-black font-weight-medium"
                    >My Cart
                  </span>
                </div>
                <div class="align-self-center">
                  <img
                    src="<%-assets_url%>assets/images/dashboard_admin/carts.png"
                    width="40"
                    height="40"
                  />
                </div>
              </div>
            </div>
          </a>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <a href="<%-user_url%>/product">
          <div class="card bg-card2">
            <div class="card-body p-0">
              <div class="media p-3">
                <div class="media-body">
                  <h5 class="mb-1 text-black">10</h5>
                  <span class="text-black font-weight-medium"
                    >All Products
                  </span>
                
                </div>
                <div class="align-self-center">
                  <img
                    src="<%-assets_url%>assets/images/dashboard_admin/product.png"
                    width="40"
                    height="40"
                  />
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>        
      </div>

      <!-- end row -->
    </div>
  </div>
  <!-- content -->
</div>
